/* body {
    /* margin-bottom: 6%; */
    /* height: 100%; */
/* }  */
.products::-webkit-scrollbar{
    display: none;
}

.categories::-webkit-scrollbar{
    display: none;
}

.populars::-webkit-scrollbar{
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}

/* .footer {
    position: relative;
    bottom: 5%;
} */

.populardiv {
    margin-bottom: 4%;
}
